<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta name="description" content="GoodData daily menu aggregator"/>
    <meta name="author" content="Dominik Labuda"/>

    <title>GoodData Lunch Brno</title>

    <link rel="icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}"/>
    <link rel="apple-touch-icon-precomposed" href="../static/img/favicon.png" th:href="@{/img/favicon.png}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.css"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/starter.css" th:href="@{/css/starter.css}" rel="stylesheet"/>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">GoodData Lunch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vouchers">Meal voucher calculator</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="cover-heading" th:text="${currentDate}" align="center">01.01.1970</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 col-sm-offset-3">
            <nav id="toc" class="sticky-top"></nav>
          </div>

          <div class="col-sm-9">
            <p class="lead">
              <p class="lead" th:each="dailyMenu : ${dailyMenus}">
                <a th:href="${dailyMenu.restaurant.getUrl()}"><h2 th:text="${dailyMenu.restaurant.name}">RESTAURANT_NAME</h2></a>
                <table class="table table-hover">
                  <tr>
                    <th scope="col">Dish</th>
                    <th scope="col">Price</th>
                  </tr>
                  <tr th:each="dish : ${dailyMenu.menu}">
                    <td th:text="${dish.name}" align="left">Name</td>
                    <td th:text="${dish.price}" align="right">Price</td>
                  </tr>
                </table>
              </p>
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <p>&copy; GoodData Lunch Brno, Dominik Labuda 2018 <a href="https://github.com/Dominick1993/GD-lunch-Brno"><img src="../static/img/GitHub_Logo.png" th:src="@{/img/GitHub_Logo.png}" height="20px" style="vertical-align: middle;"/> </a> </p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.js"></script>
    <script src="../static/js/toc_smooth.js" th:src="@{/js/toc_smooth.js}"></script>

  </body>
</html>
