<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <meta name="author" content="Dominik Labuda"/>

    <title>GDLunch</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../static/js/themeSwitcher.js" th:src="@{/js/themeSwitcher.js}"></script>

    <link rel="icon" href="../static/img/favicon.png" th:href="@{/img/favicon.png}"/>
    <link rel="apple-touch-icon-precomposed" href="../static/img/favicon.png" th:href="@{/img/favicon.png}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.css"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/starter.css" th:href="@{/css/starter.css}" rel="stylesheet"/>
    <link href="../static/css/dark.css" th:href="@{/css/dark.css}" rel="stylesheet"/>
  </head>

  <body>

  <audio id="player" src=""></audio>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">GDLunch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="switchTheme" href="#">Switch theme</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="container">

        <div class="row">
          <div class="col">
            <h1 class="cover-heading" align="center">
              <form role="form" id="changeDate" th:action=@{/} method="get">
                <select name="date" onchange="this.form.submit()">
                  <option th:each="date, stat : ${dates}"
                        th:value="${stat.index}"
                        th:text="${date}"
                        th:selected="${currentDateIndex == stat.index}">Date</option>
                </select>
              </form>
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col" align="center">
            <a href="/lucky"><button type="button" class="btn btn-outline-secondary" th:disabled="${luckyDisabled}">I'm feeling lucky</button></a>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-3 col-sm-offset-3">
            <nav th:if="${!#httpServletRequest.requestURI.contains('/lucky')}" id="toc" class="sticky-top"></nav>
          </div>

          <div class="col-sm-9">
            <div class="col mt3" th:each="dailyMenu : ${dailyMenus}">
              <a th:href="${dailyMenu.restaurant.getUrl()}"><h2 th:text="${dailyMenu.restaurant.name}">RESTAURANT_NAME</h2></a>
              <table class="table table-hover">
                <tr>
                  <th scope="col">Dish</th>
                  <th scope="col">Price</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                <tr th:each="dish : ${dailyMenu.menu}">
                  <td th:text="${dish.name}" align="left">Name</td>
                  <td th:text="${dish.price}" align="right">Price</td>
                  <td align="right"><a class="btn btn-lg" role="button" th:onclick="'play(\'' + ${dish.translatedName.hashCode()} + '\')'">
                    <img src="../static/img/megaphone.png" class="gh_logo" th:src="@{/img/megaphone.png}" style="width: 32px; height: auto;"/>
                  </a></td>
                  <td align="right"><a tabindex="0" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="focus" title="English translation" data-content="content" th:data-content="${dish.translatedName}">
                    <img src="../static/img/translate.png" class="gh_logo" th:src="@{/img/translate.png}" style="width: 32px; height: auto;"/>
                  </a></td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </main>

    <footer class="footer">
      <p>&copy; GDLunch</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.js"></script>
    <script src="../static/js/toc_smooth.js" th:src="@{/js/toc_smooth.js}"></script>
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
      $('.popover-dismiss').popover({
        trigger: 'focus'
      })
      function play(file)
      {
        var player = document.getElementById('player');
        player.pause();
        player.src = file + '.wav';
        player.load();
        player.play();
      }
    </script>

  </body>
</html>
