main {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.footer {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  text-align: center;
}
